<h1 [class]="successClass">Hello {{name.toUpperCase()}}!!!</h1>
<h2 [class.text-danger]="haserror">For an example</h2>
<h2 [ngStyle]="titlestyle">To check the style NgStyle</h2>
<p>
  Start editing to see some magic happen when {{greetUser()}} touched the things :)
</p> 

<input [id] = "myId" type="text" value="Enter txt"><br>
<input [disabled]="isDisable">
<br>
<button>Submit</button>

<p class="para"> If you want to see my Full Name click below</p>
<button (click)="onClick()">Hit here</button><br>
{{greet}}
<br>
<button (click)="greeting='Welcome Boss'">Mosti</button>
{{greeting}}

<h3>{{name}}</h3>
<input #myInput type="text"><br>
<button (click)="value(myInput.value)">Log Value</button>

<p>Let me show the example of Two way data binding</p>
<input [(ngModel)]="uname" value="text">
<p>{{uname}}</p>

<div>
  <button class="btn" (click)="getNow()">Click for NgIf</button>
  <div *ngIf="displayName, else elseb"> New Block
  </div>
</div>
<ng-template #elseb>
<div>
  <p>Now this will visible</p>
</div>
</ng-template>


<p *ngFor="let dataList of listOf">{{dataList.name}}</p>